@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#brand-logo {
    width: 75px;
}

.navbar {
    background-color: #0078B6 !important;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
    font-weight: medium;
    transition: 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: white !important;
    text-decoration: underline;
}

#welcome-section {
    background-image: url('https://kaniatourtravel.com/storage/app/public/img/home/carousel_____62fdb7c363dbd__80.jpg');
    object-fit: contain;
    background-repeat: no-repeat;
    height: 400px;
    color: white;
}

.card {
    height: 500px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top {
    height: 280px;
    width: auto;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px #0078B6;
}

#social-media {
    width: 50px;
    margin: 10px;
}

footer,
footer a {
    color: white;
    background-color: #0078AA;
}

.carousel-item .carousel-caption {
    color: white;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    #brand {
        font-size: 1rem;
    }

    #brand-logo {
        width: 50px;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 12px;
    }

    #welcome-section {
        height: fit-content;
    }

    .jumbotron p,
    .jumbotron h1 {
        font-size: 0.75rem;
    }

    #contact {
        text-align: center;
    }

    #navigation {
        text-align: center;
    }

    #copyright,
    #creator-link {
        margin-top: 16px;
        text-align: center;
    }

    #social .wrapper a img {
        width: 30px;
    }

    footer {
        font-size: 0.75rem;
    }

    .carousel-item .carousel-caption h5,
    .carousel-item .carousel-caption p {
        font-size: 0.85rem;
    }

    .carousel-item img {
        height: 300px;
        object-fit: cover;
    }
}