@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#brand-logo {
    width: 75px;
}

.navbar {
    background-color: #0078B6 !important;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
    font-weight: medium;
    transition: 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: white !important;
    text-decoration: underline;
}

#list-lokasi {
    list-style-type: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

#list-lokasi li {
    padding: 8px;
}

#list-row .card {
    box-shadow: 0 4px 8px #c2c2c2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#list-row .card:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 8px #0078B6;
}

#collapse-button {
    transition: 0.3s ease;
}

#collapse-button:hover {
    color: #0078B6 !important;
}

#collapseDesktop .card-body ul {
    flex-wrap: wrap;
    list-style: none;
}

#collapseDesktop .card-body li {
    padding: 8px;
}

footer,
footer a {
    color: white;
    background-color: #0078AA;
}

#social-media {
    width: 50px;
    margin: 10px;
}

#list-lokasi-mobile .card-body p {
    font-size: 0.6rem;
    text-align: center;
    min-height: 40px;
    margin: 0;
}

#collapseMobile .card-body p {
    font-size: 0.75rem;
}

#collapseMobile .card-body ul {
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

#collapseMobile .card-body li {
    list-style: none;
    font-size: 0.75rem;
    padding: 4px;
}

#collapse-button-mobile {
    font-size: 0.75rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    #brand {
        font-size: 1rem;
    }

    #brand-logo {
        width: 50px;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 12px;
    }

    #jasa-section p,
    #layanan-lain {
        font-size: 0.85rem;
    }

    #contact {
        text-align: center;
    }

    #navigation {
        text-align: center;
    }

    #copyright,
    #creator-link {
        margin-top: 16px;
        text-align: center;
    }

    #social .wrapper a img {
        width: 30px;
    }

    footer {
        font-size: 0.75rem;
    }
}