@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

#brand-logo {
    width: 75px;
}

.navbar {
    background-color: #0078B6 !important;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
    font-weight: medium;
    transition: 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: white !important;
    text-decoration: underline;
}

footer,
footer a {
    color: white;
    background-color: #0078AA;
}

#social-media {
    width: 50px;
    margin: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    #brand {
        font-size: 1rem;
    }

    #brand-logo {
        width: 50px;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 12px;
    }

    #contact {
        text-align: center;
    }

    #navigation {
        text-align: center;
    }

    #copyright,
    #creator-link {
        margin-top: 16px;
        text-align: center;
    }

    #social .wrapper a img {
        width: 30px;
    }

    footer {
        font-size: 0.75rem;
    }
}